@model ProjectWhiteWave.Models.Ticket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ticket</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.DateOpened, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateOpened)
            @Html.ValidationMessageFor(model => model.DateOpened)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateClosed, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateClosed)
            @Html.ValidationMessageFor(model => model.DateClosed)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PriorityId, "Priority", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PriorityId", "Normal")
            @Html.ValidationMessageFor(model => model.PriorityId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StatusId, "Status", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StatusId", "Active")
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountId, "Account", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AccountId", String.Empty)
            @Html.ValidationMessageFor(model => model.AccountId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeId, "Authorized by", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EmployeeId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeId)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
</body>
</html>
