@model ProjectWhiteWave.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    @Html.Partial("~/Views/Ticket/_TicketDetailsPartial.cshtml", Model)
    <p>
        @Html.ActionLink("Edit", "EditActiveTicket", new { id = Model.TicketId }) |
        @Html.ActionLink("Back to List", "PriorityQueue")
    </p>
</div>
<div style="height: 5px;"></div>
<div>
    <h4>Support Events</h4>
    @Html.ActionLink("Create New", "CreateActiveSupportEvent", new { id = Model.TicketId })
    <div>
        <table class="table">
            <tr>
                <th>Description</th>
                <th>Opened</th>
                <th>Closed</th>
                <th></th>
            </tr>
            @foreach (var se in Model.SupportEvents)
            {
                <tr>
                    <td>@se.Description</td>
                    <td>@se.DateOpened</td>
                    <td>@se.DateClosed</td>
                    <td>
                        @Html.ActionLink("Edit", "EditForActiveTicket", "SupportEvent", new { id = se.SupportEventId }, null) |
                        @Html.ActionLink("Details", "DetailsForActiveTicket", "SupportEvent", new { id = se.SupportEventId }, null) |
                        @Html.ActionLink("Delete", "Delete", new { id = se.SupportEventId })
                    </td>
                </tr>
            }
        </table>
    </div>
    <p>
        @Html.ActionLink("Back to List", "PriorityQueue")
    </p>
</div>
