@model ProjectWhiteWave.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
	<hr />
    @Html.Partial("~/Views/Ticket/_TicketDetailsPartial.cshtml", Model)
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div style="height: 5px;"></div>
<div>
    <h4>Support Events</h4>
    @Html.ActionLink("Create New", "CreateSupportEvent", new { id = Model.TicketId }, new { active = false })
    @Html.Partial("~/Views/Shared/_SupportEventsPartial.cshtml", Model.SupportEvents)
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
